@if (load) {
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h5 class="mb-0">Movimientos de Cuenta</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col text-center">
                            <strong>Cantidad de Ingresos:</strong>
                            <div class="movement-value bg-info text-white">{{ myMovements.count_ingresos }}</div>
                        </div>
                        <div class="col text-center">
                            <strong>Cantidad de Egresos:</strong>
                            <div class="movement-value bg-warning text-dark">{{ myMovements.count_egresos }}</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col text-center">
                            <strong>Total Ingresos:</strong>
                            <div class="movement-value bg-success text-white">{{ myMovements.total_ingresos }}</div>
                        </div>
                        <div class="col text-center">
                            <strong>Total Egresos:</strong>
                            <div class="movement-value bg-danger text-white">{{ myMovements.total_egresos }}</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <small class="text-muted">Movimientos realizados hasta la fecha {{ (timestamp * 1000) | date: 'd/M/yyyy'
                        }}</small>
                    <br />
                    <button class="btn btn-outline-primary mt-3 rounded-pill px-4" (click)="goBack()">
                        <i class="bi bi-arrow-left"></i> Regresar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
} @else {
<shared-loading message="Cargando cambios de divisas..." />
}